body {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;

}

#background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content {
   
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    position:absolute;
    max-height: 100px;
    bottom: 0px;
    padding-bottom: 60px;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;

}

#historia {
    position: absolute;
    bottom: 0px;
    padding-bottom: 100px;
    padding-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#dialogo {
    max-width: 1200px;
    font-size:large;
}

.com_fundo {
    background-color:  #ffc8dd;

}

#escolha {
    gap: 100px;
}

#final {
    font-size: large;
    align-items: center;
    flex-direction: column;
}

#personagem {
    padding-left: 50px;
    padding-bottom: 100px;
    font-size: x-large;
}